{% load static %}
<html>
    <body>
        <form method="post">
            {% csrf_token %}
            Student Name: 
            <select  id="sname">
                {% for student in students  %}
                    <option value="{{student.id}}">{{student.student_name}}</option>
                {% endfor %}
            </select> <br> <br>
            Course Name: 
            <select name="cname" id="cname">
                {% for course in courses  %}
                    <option value="{{course.id}}">{{course.course_name}}</option>
                {% endfor %}
            </select> <br> <br>
            
            <input type="button" value="Enroll" id="ebtn">
            <span id="ans"></span>
        </form>
        <script src="{% static "jquery.min.js" %}"></script>
        <script>
            $(document).ready(function(){
                $("#ebtn").click(function() {
                var sname = $("#sname").val();
                var cname = $("#cname").val();
                $.ajax({
                    type: 'POST',
                    url: '/regaj/',
                    data: {
                        sname: sname,
                        cname: cname,
                        csrfmiddlewaretoken: "{{csrf_token}}",
                    },
                    success: function(response) {
                        $("#ans").html(response);
                    }
                });
            });
        });   
        </script>
    </body>
</html>